@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: space-between;
}

.font-size {
    font-size: 1rem;
}

.main_menu {
    background: black;
}

.main_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.yu{
    filter: drop-shadow(0 0.5rem 3rem rgb(3, 231, 212));
}