<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folio</title>
    <!-- bootstrap  -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon_io/favicon.ico" type="image/x-icon">
    <!-- font awsome  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>navbar}}
  
    <div class="container-fluid ">
        <div class="row gy-4">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_left p-3">
                        <h3>We Are The Team Of Full Stack Developer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis recusandae molestiae odit vitae, nisi, voluptas ut exercitationem, sunt magnam consectetur voluptates. Deserunt consequatur dolores cupiditate ad maiores inventore similique earum.</p>
                        <div>
                            <button class="btn btn-info">Contact Us</button>
                        </div>


                    </div>
                    <div class="col-md-6 col-12 main_right p-3">
                        <figure>
                            <img src="img/about us.png" alt="about" class="img-fluid yu" title="jay beniwal">

                        </figure>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    <footer class="" style="background-color: black; color: #fff;width: 100%;">
        <p style="margin: 0; text-align: center;padding: 12px;font-weight: 100;">created by @jaybeniwal</p>
    </footer>

















</body>

</html>